# Database
DATABASE_URL="file:./prisma/dev.db"

# JWT
JWT_SECRET=

# Exchange Rate API
EXCHANGE_API_KEY=

# HitPay
HITPAY_API_KEY=
HITPAY_WEBHOOK_SECRET=
SALT=
HITPAY_BASE_URL=https://api.sandbox.hit-pay.com

# Circle Configuration
CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
CIRCLE_WALLET_SET_ID=
CIRCLE_USDC_TOKEN_ID=

CIRCLE_DEFAULT_BLOCKCHAIN=ARC-TESTNET
CIRCLE_ACCOUNT_TYPE=SCA
CIRCLE_FEE_LEVEL=MEDIUM

# Treasury Wallet di Base Sepolia
CIRCLE_TREASURY_WALLET_ID_BASE=
CIRCLE_TREASURY_WALLET_SET_ID_BASE=
TREASURY_WALLET_ADDRESS=

# Bridge Kit + Forwarding Service
BRIDGE_KIT_API_KEY=
FORWARDING_SERVICE_ENABLED=true

# TransFi
TRANSFI_BASE_URL=https://sandbox-api.transfi.com
TRANSFI_USERNAME=
TRANSFI_PASSWORD=
TRANSFI_MID=
TRANSFI_WEBHOOK_SECRET=

# SakuLink Treasury Wallet
SAKULINK_TREASURY_WALLET=

# Server
PORT=3000
BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173